body {
  font-family: "Inter", sans-serif !important;
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
  margin: 0 !important;
  padding: 0 !important;
}
.NavBar {
  background: linear-gradient(#080808, #00000010) !important;
  color: rgb(255, 255, 255) !important;
}
.pesquisa {
  width: 400px !important;
  height: 40px;
}
.Destaque {
  background-size: "cover";
  background-position: "center";
  min-height: 600px;
}
.Assistir {
  width: 200px !important;
  height: 50px;
  background-color: #db0000 !important;
  margin-left: 0;
}
.Info {
  margin-left: 200px !important;
}
.Info h1 {
  font-size: 60px !important;
}

@media screen and (max-width: 768px) {
  .Info {
    margin-left: 2px !important;
  }
  .Info h1 {
    font-size: 40px !important;
    width: 10% !important;
  }
  .pesquisa {
    width: 250px !important;
  }
}
.Card {
  width: 300px !important;
  height: 420px !important;
  transition: transform 0.3s ease-in-out;
}
.Card:hover {
  transform: scale(1.1);
}

.banner {
  position: relative;
}

.Image {
  width: 900px;
  height: auto;
}

/* Em desktop (lg e acima), usar tamanho original */
@media screen and (min-width: 992px) {
  .Image {
    width: 900px !important;
    height: auto !important;
    max-height: none !important;
  }
}
.banner {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(12, 12, 12, 0.5),
    rgba(0, 0, 0, 0.9)
  );
  z-index: 2; /* Coloque o gradiente acima da imagem */
  pointer-events: none; /* Permite interações com elementos abaixo */
}

.logo {
  position: absolute;
  bottom: 10px; /* Ajuste a distância da parte inferior */
  left: 6%;
  transform: translateX(-50%);
  width: 50px; /* Ajuste o tamanho da logo */
  height: 50px;
}
.InfoModal {
  position: absolute;
  bottom: 30%; /* Ajuste a distância da parte inferior */
  left: 5%;
  width: 800px !important;
}
.Modal {
  width: 900px !important;
}
.Modal p {
  font-size: 16px !important;
}
.Centro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  height: 470px;
}
.Footer {
  background: rgba(0, 0, 0, 1) !important;
  color: rgb(255, 255, 255) !important;
}
.Modal {
  background-color: #202127 !important;
  max-width: 996px;
}
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.movieModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 850px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  color: #fff;
  max-height: 100vh;
}
.animate-modal {
  animation: fadeIn 0.3s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.InputLog input {
  height: 50px !important;
}
.btnCor {
  background-color: #db0000 !important;
  height: 50px;
}
input::placeholder,
textarea::placeholder {
  color: #ffffff4d !important; /* Define a cor do placeholder */
  opacity: 1; /* Garante que o placeholder seja visível */
  font-weight: 600;
}
.LoginPage {
  background: url("./assets/BackNet.jpg") no-repeat center center fixed;

  height: 100vh;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
  z-index: 999;
}
.LoginBackground {
  background: rgba(0, 0, 0, 0.863);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.avatar {
  max-width: 70px;
  max-height: 70px;
}
.logo1 {
  max-width: 200px;
  max-height: 80px;
}
